.text-primary {
  color: $primary-color;
}

.text-neutral {
  color: $neutral-color;
}

.text-accent {
  color: $accent-color;
}

.text-small {
  font-size: 12px;
}

.text-negative {
  color: $background-color;
}

.no-padding {
  padding: 0!important;
}

.p1 {
  padding: 1em;
}

.hp1 {
  padding: 0 1em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.subtle {
  opacity: 0.5;
}

.hover {
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

// MATERIALS

.material {
  height: 8px;
  width: 8px;
  display: inline-block;
  box-shadow: rgba(0,0,0,0.1) 1px 1px 1px;
  background-color: $primary-color;
}

.oro {
  background-color: gold;
}

.cobre {
  background-color: #bb7547;
}

.aluminio {
  background-color: #dae0ea;
}

.carbon {
  background-color: black;
}

.hierro {
  background-color: #e5dacb;
}

.gold {
  background-color: gold;
}

.copper {
  background-color: #bb7547;
}

.aluminum {
  background-color: #dae0ea;
}

.carbon {
  background-color: black;
}

.iron {
  background-color: #e5dacb;
}

.options-container {
  position: relative;
  font-family: $body-font;
  font-size: 8px;
}
