// COLORS
$background-color: #3D3A47;
$neutral-color: #EDECE8;
$primary-color: #FC6225;
$accent-color: #0ECEC5;
$body-font: 'Press Start 2P', monospace;
$button-background: lighten($background-color, 25);
